/* Fonts */
$gl-base-fonts: 'Libre Franklin', sans-serif;  ;
$gl-font-normal: 400;
$gl-font-bold: 600;
$gl-font-black: 900;

/* Colors */
$gl-blue: #02a8f3;
$gl-red : #d66666;
$gl-white: #ffffff;
$gl-grey: #8e8e8e;
$gl-font-color : #262526;
$gl-divider-color : #e5e5e5;
